.container-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex {
  width: 316px;
  height: 316px;
  border: 1px solid #8bdede;
  margin: 20px;
}
.flex-title {
  text-align: center;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10,
.box11, .box12, .box13, .box14, .box15, .box16, .box17, .box18, .box19,
.box20, .box21, .box22, .box23, .box24, .box25, .box26, .box27
{
  display: flex;
  width: 216px;
  height: 216px;
  background-color: #f6d53b;
  margin: 10px 50px 0 50px;
}
.box1 {
  flex-direction: row;
}
.box2 {
  flex-direction: row-reverse;
}
.box3 {
  flex-direction: column;
}
.box4 {
  flex-direction: column-reverse;
}
.box5 {
  flex-direction: row;
  flex-wrap: nowrap; /* 默认值 */
}
.box6 {
  flex-direction: row;
  flex-wrap: wrap;
}
.box7 {
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.box8 {
  flex-direction: row;
  justify-content: flex-start;
}
.box9 {
  flex-direction: row;
  justify-content: flex-end;
}
.box10 {
  flex-direction: row;
  justify-content: center;
}
.box11 {
  flex-direction: row;
  justify-content: space-between;
}
.box12 {
  flex-direction: row;
  justify-content: space-around;
}
.box13 {
  flex-direction: row;
  align-items: flex-start;
}
.box14 {
  flex-direction: row;
  align-items: flex-end;
}
.box15 {
  flex-direction: row;
  align-items: center;
}
.box16 {
  flex-direction: row;
  align-items: baseline;
}
.box17 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.box18 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}
.box19 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.box20 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.box21 {
  flex-direction: row;
  flex-wrap: wrap;
}
.box22 {
  flex-direction: row;
  flex-wrap: wrap;
}
.box23 {
  flex-direction: row;
  flex-wrap: wrap;
}
.box24 {
  flex-direction: row;
}
.box25 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.box26 {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.box27 {
  flex-direction: row;
  flex-wrap: wrap;
}
.order-item11 {
  order: 2;
}
.order-item12 {
  order: -1;
}
.order-item13 {
  order: 3;
}
.order-item14 {
  order: 0;
}
.order-item15 {
  order: 5;
}
.order-item16 {
  order: 6;
}
.flow-grow-item11, .flow-grow-item12, .flow-grow-item13 {
  flex-grow: 1;
}
.flow-grow-item21, .flow-grow-item23 {
  flex-grow: 1;
}
.flow-grow-item22 {
  flex-grow: 2;
}
.flow-shrink-item32 {
  flex-shrink: 0;
}
.flow-basis-item2 {
  flex-basis: 80px;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #fffbfd;
  margin: 2px;
}
.num-circle {
  width: 30px;
  height: 30px;
  background-color: #f6d53b;
  border-radius: 50%;
  position: relative;
}
.num-date {
  position: absolute;
  left: 33%;
  top: 20%;
}
.rectangle-item1, .rectangle-item3, .rectangle-item2, .rectangle-item4 {
  background-color: #ff9997;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rectangle-item1 {
  width: 50px;
  height: 100px;
}
.rectangle-item2 {
  width: 50px;
  height: 20px;
}
.rectangle-item3 {
  width: 50px;
  height: 50px;
}
.rectangle-item4 {
  width: 50px;
  height: 120px;
}
.fa-arrow-left, .fa-arrow-right {
  font-size: 40px;
}
.arrow-tip-content {
  display: flex;
  align-items: center;
  width: 316px;
  height: 316px;
}
.arrow {
  padding: 0 10px;
}
.tip-content {
  width: 216px;
  height: 216px;
  background-color: #f6d53b;
  padding: 0 10px;
  margin: 10px;
}
.flow-item2 {
  flex: auto;
}
.rectangle-align-self {
  align-self: flex-end;
}
