<div style="text-align: center">
  <h3>容器相关属性</h3>
</div>
<div class="container-col">
  <div class="flex">
    <div class="flex-title">
      <h3>flex-direction: row</h3>
    </div>
    <div class="box1">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-direction: row-reverse</h3>
    </div>
    <div class="box2">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-direction: column</h3>
    </div>
    <div class="box3">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-direction: column-reverse</h3>
    </div>
    <div class="box4">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-wrap: nowrap</h3>
    </div>
    <div class="box5">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
      <div class="item5 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="item6 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
      <div class="item7 block">
        <div class="num-circle">
          <span class="num-date">7</span>
        </div>
      </div>
      <div class="item8 block">
        <div class="num-circle">
          <span class="num-date">8</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-wrap: wrap</h3>
    </div>
    <div class="box6">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
      <div class="item5 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="item6 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
      <div class="item7 block">
        <div class="num-circle">
          <span class="num-date">7</span>
        </div>
      </div>
      <div class="item8 block">
        <div class="num-circle">
          <span class="num-date">8</span>
        </div>
      </div>
      <div class="item9 block">
        <div class="num-circle">
          <span class="num-date">9</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-wrap: wrap-reverse</h3>
    </div>
    <div class="box7">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
      <div class="item5 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="item6 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
      <div class="item7 block">
        <div class="num-circle">
          <span class="num-date">7</span>
        </div>
      </div>
      <div class="item8 block">
        <div class="num-circle">
          <span class="num-date">8</span>
        </div>
      </div>
      <div class="item9 block">
        <div class="num-circle">
          <span class="num-date">9</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>just-content: flex-start</h3>
    </div>
    <div class="box8">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>just-content: flex-end</h3>
    </div>
    <div class="box9">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>just-content: center</h3>
    </div>
    <div class="box10">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>just-content: space-between</h3>
    </div>
    <div class="box11">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>just-content: space-around</h3>
    </div>
    <div class="box12">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-items: flex-start</h3>
    </div>
    <div class="box13">
      <div class="rectangle-item1">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R1</span>
        </div>
      </div>
      <div class="rectangle-item2">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R2</span>
        </div>
      </div>
      <div class="rectangle-item3">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-items: flex-end</h3>
    </div>
    <div class="box14">
      <div class="rectangle-item1">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R1</span>
        </div>
      </div>
      <div class="rectangle-item2">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R2</span>
        </div>
      </div>
      <div class="rectangle-item3">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-items: center</h3>
    </div>
    <div class="box15">
      <div class="rectangle-item1">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R1</span>
        </div>
      </div>
      <div class="rectangle-item2">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R2</span>
        </div>
      </div>
      <div class="rectangle-item3">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-items: baseline</h3>
    </div>
    <div class="box16">
      <div class="rectangle-item1">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R1</span>
        </div>
      </div>
      <div class="rectangle-item2">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R2</span>
        </div>
      </div>
      <div class="rectangle-item3">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-content: flex-start(可以和 flex-wrap: wrap 对比)</h3>
    </div>
    <div class="box17">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
      <div class="item5 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="item6 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
      <div class="item7 block">
        <div class="num-circle">
          <span class="num-date">7</span>
        </div>
      </div>
      <div class="item8 block">
        <div class="num-circle">
          <span class="num-date">8</span>
        </div>
      </div>
      <div class="item9 block">
        <div class="num-circle">
          <span class="num-date">9</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-content: flex-end</h3>
    </div>
    <div class="box18">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
      <div class="item5 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="item6 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
      <div class="item7 block">
        <div class="num-circle">
          <span class="num-date">7</span>
        </div>
      </div>
      <div class="item8 block">
        <div class="num-circle">
          <span class="num-date">8</span>
        </div>
      </div>
      <div class="item9 block">
        <div class="num-circle">
          <span class="num-date">9</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-content: center</h3>
    </div>
    <div class="box19">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
      <div class="item5 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="item6 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
      <div class="item7 block">
        <div class="num-circle">
          <span class="num-date">7</span>
        </div>
      </div>
      <div class="item8 block">
        <div class="num-circle">
          <span class="num-date">8</span>
        </div>
      </div>
      <div class="item9 block">
        <div class="num-circle">
          <span class="num-date">9</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-content: space-between</h3>
    </div>
    <div class="box20">
      <div class="item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="item4 block">
        <div class="num-circle">
          <span class="num-date">4</span>
        </div>
      </div>
      <div class="item5 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="item6 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
      <div class="item7 block">
        <div class="num-circle">
          <span class="num-date">7</span>
        </div>
      </div>
      <div class="item8 block">
        <div class="num-circle">
          <span class="num-date">8</span>
        </div>
      </div>
      <div class="item9 block">
        <div class="num-circle">
          <span class="num-date">9</span>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div style="text-align: center">
  <h3>项目相关属性</h3>
</div>
<div class="container-col">
  <div class="flex">
    <div class="flex-title">
      <h3>order: num(下面的数字代表 order 值, 定义的值顺序为 [2,-1,3,0,5,6] )</h3>
    </div>
    <div class="box21">
      <div class="order-item11 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="order-item12 block">
        <div class="num-circle">
          <span class="num-date">-1</span>
        </div>
      </div>
      <div class="order-item13 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="order-item14 block">
        <div class="num-circle">
          <span class="num-date">0</span>
        </div>
      </div>
      <div class="order-item15 block">
        <div class="num-circle">
          <span class="num-date">5</span>
        </div>
      </div>
      <div class="order-item16 block">
        <div class="num-circle">
          <span class="num-date">6</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-grow: number(下面数字代表 flex-grow 的值， 等分剩余空间)</h3>
    </div>
    <div class="box22">
      <div class="flow-grow-item11 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-grow-item12 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-grow-item13 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-grow: number(下面数字代表 flex-grow 的值)</h3>
    </div>
    <div class="box23">
      <div class="flow-grow-item21 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-grow-item22 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="flow-grow-item23 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-tip-content">
        <div class="arrow">
          <span><i class="fa fa-arrow-left"></i></span>
        </div>
        <div class="tip-content">
          <p>flex-grow属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
            如果所有项目的flex-grow属性都为1，则它们将等分剩余空间（如果有的话）。
            如果一个项目的flex-grow属性为2，其他项目都为1，则前者占据的剩余空间将比其他项多一倍。
          </p>
        </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-shrink: number(默认为1，即如果空间不足，该项目将缩小。)</h3>
    </div>
    <div class="box24">
      <div class="flow-shrink-item31 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-shrink-item32 block">
        <div class="num-circle">
          <span class="num-date">0</span>
        </div>
      </div>
      <div class="flow-shrink-item33 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-shrink-item34 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-shrink-item35 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-shrink-item36 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-shrink-item37 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-shrink-item38 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-shrink-item39 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-tip-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="tip-content">
        <p>如果所有项目的flex-shrink属性都为1，当空间不足时，都将等比例缩小。
          如果一个项目的flex-shrink属性为0，其他项目都为1，则空间不足时，前者不缩小。
          负值对该属性无效。</p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-tip-content">
      <div class="tip-content">
        <p>
          flex-basis属性定义了在分配多余空间之前，项目占据的主轴空间（main size）。
          浏览器根据这个属性，计算主轴是否有多余空间。它的默认值为auto，即项目的本来大小。
          它可以设为跟width或height属性一样的值（比如350px），则项目将占据固定空间。
        </p>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex-basis: length | auto (默认为1，即如果空间不足，该项目将缩小。)</h3>
    </div>
    <div class="box25">
      <div class="flow-basis-item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-basis-item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="flow-basis-item3 block">
        <div class="num-circle">
          <span class="num-date">3</span>
        </div>
      </div>
      <div class="flow-basis-item3" style="width: 200px;height: 100px;">
        <p>第二个 item 设置 flex-basis 值为 80px，所以该 item 占主轴的长度为 80px</p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]</h3>
    </div>
    <div class="box26">
      <div class="flow-item1 block">
        <div class="num-circle">
          <span class="num-date">1</span>
        </div>
      </div>
      <div class="flow-item2 block">
        <div class="num-circle">
          <span class="num-date">2</span>
        </div>
      </div>
      <div class="flow-item3" style="width: 200px;height: 100px;">
        <p>第二个 item 使用了 flex: auto ;flex-basis 属性首先起作用；
          值为 auto 显示为项目的实际大小，然后就是 flex-grow 值为 1 起作用，自动扩展占据剩余空间.
        </p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-tip-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="tip-content">
        <p>
          flex属性是flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto。后两个属性可选。
          该属性有两个快捷值：auto (1 1 auto) 和 none (0 0 auto)。
          建议优先使用这个属性，而不是单独写三个分离的属性，因为浏览器会推算相关值。
        </p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-tip-content">
      <div class="tip-content">
        <p>
          align-self属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性。
          默认值为auto，表示继承父元素的align-items属性，如果没有父元素，则等同于stretch。
        </p>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-title">
      <h3>align-self: auto | flex-start | flex-end | center | baseline | stretch;</h3>
    </div>
    <div class="box27">
      <div class="rectangle-item1">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R1</span>
        </div>
      </div>
      <div class="rectangle-item2 rectangle-align-self">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R2</span>
        </div>
      </div>
      <div class="rectangle-item3">
        <div class="rectangle-num">
          <span class="rectangle-num-date">R3</span>
        </div>
      </div>
    </div>
  </div>
</div>
