<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>
      <mat-icon svgIcon="outline-menu"></mat-icon>
    </button>
    <a uiSref="angular" class="mat-button">Angular</a>
    <a uiSref="commonComponent" class="mat-button">公共组件</a>
    <button mat-button>JavaScript</button>
    <a uiSref="css" class="mat-button">CSS</a>
    <button mat-button>HTML</button>
    <a uiSref="rxjs" class="mat-button">RxJs</a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" ui-view></div>
