<div class="page-title" style="text-align: center">
  <h3>flex 骰子</h3>
</div>
<hr>
<div class="container-title" style="text-align: center;">
  单项目
</div>
<div class="container-col">
  <div class="flex">
    <div class="dice-box0">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
            display: flex;<br>
            flex-direction: row;<br>
            flex-wrap: wrap;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          display: flex;<br>
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box1">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box2">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          display: flex;<br>
          just-content: center;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          display: flex;<br>
          just-content: flex-end;
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box3">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box4">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          align-items: center;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          justify-content: center;<br>
          align-items: center;
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box5">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box6">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          justify-content: flex-end;<br>
          align-items: center;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          align-items: flex-end;
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box7">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box8">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          justify-content: center;<br>
          align-items: flex-end;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          justify-content: flex-end;<br>
          align-items: flex-end;
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box9">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container-title" style="text-align: center;">
  双项目
</div>
<div class="container-col">
  <div class="flex">
    <div class="dice-box10">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          justify-content: space-between;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          flex-direction: column;<br>
          justify-content: space-between;
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box11">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box12">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          flex-direction: column;<br>
          justify-content: space-between;<br>
          align-items: center;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          flex-direction: column;<br>
          justify-content: space-between;<br>
          align-items: flex-end;
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box13">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box14">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          align-self: center; // 作用于第二个item
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          justify-content: space-between; // 容器
          align-self: flex-end; // 作用于第二个item
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box15">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container-title" style="text-align: center;">
  三项目
</div>
<div class="container-col">
  <div class="flex">
    <div class="dice-box16">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          align-self: center; // 作用于第二个item<br>
          align-self: flex-end; // 作用于第三个item
        </code>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container-title" style="text-align: center;">
  四项目
</div>
<div class="container-col">
  <div class="flex">
    <div class="dice-box17">
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
      <div class="dot-content">
        <div class="dot">
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          flex-direction: row;<br>
          flex-wrap: wrap;<br>
          justify-content: flex-end;<br>
          align-content: space-between;
        </code>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="code-content">
        <code>
          flex-wrap: wrap; // box <br>
          align-content: space-between; // box <br>
          flex-basis: 100%; // item <br>
          display: flex;i // item <br>
          justify-content: space-between; // item
        </code>
      </div>
      <div class="arrow">
        <span><i class="fa fa-arrow-right"></i></span>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="dice-box18">
      <div class="column">
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container-title" style="text-align: center;">
  六项目
</div>
<div class="container-col">
  <div class="flex">
    <div class="dice-box19">
      <div class="row">
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
        <div class="dot-content">
          <div class="dot">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="arrow-code-content">
      <div class="arrow">
        <span><i class="fa fa-arrow-left"></i></span>
      </div>
      <div class="code-content">
        <code>
          flex-direction: row; // box <br>
          flex-wrap: wrap; // box <br>
          flex-basis: 100%; // row <br>
          display: flex; // row <br>
          justify-content: center; // 第二个 row <br>
          justify-content: space-between; // 第三个 row
        </code>
      </div>
    </div>
  </div>
</div>
